<div class="pricing"><div class="pricing__titles">
  <h1 class="pricing__title">{{title}}</h1>
  <p class="pricing__subtitle">{{subtitle}}</p></div>
  <div class="pricing__plan__container">
      <h1 class="pricing__plan">{{plan}}</h1>
      <p class="pricing__customers">{{customers}}</p>
      <p class="pricing__desc">{{desc}}</p>
      <div class="btn__container">
      <a style="--_bg-clr:var(--clr-drk-blue);
      --_txt-clr:var(--clr-light);
      --_border:var(--clr-drk-blue);
     
      --_border-alt:var(--clr-light);
        --_bg-clr-alt:var(--clr-light);
        --_txt-clr-alt:var(--clr-drk-blue);
  " href="" class="btn">{{button}}</a></div>
  </div>
</div>