
  <div class="hero07L1__body">
    <div class="hero07L1__desc" >
      <h1 class="hero07L1__title" >{{title}}</h1>
      <p class="hero07L1__text">{{desc}}</p>
      <div class="btn__container">
      <a
        href="{{btnlink1}}"
        class="btn"
        style="
          --_bg-clr: var( --clr-pink);
          --_border: var(--clr-light);
          --_txt-clr: var(--clr-light);
          --_bg-clr-alt: var(--clr-pink-hover);
          --_border-alt: var(--clr-light);
          --_txt-clr-alt: var(--clr-light);
        "
        >{{btn1}}</a
      >
      <a
        href="{{btnlink2}}"
        class="btn"
        style="
          --_bg-clr: var(--clr-light);
          --_border: var(--clr-light);
          --_txt-clr: var( --clr-pink);;
          --_bg-clr-alt: var(--clr-light-hover);
          --_border-alt: var(--clr-light-hover);
          --_txt-clr-alt: var(--clr-pink-hover);;
        "
        >{{btn2}}</a
      >
    </div>

    </div>

    <div class="hero07L1__img__container">
      <img class="hero07L1__img" src="{{image}}" alt="{{alt}}" />
    </div>

  </div>

