<div class="nav20L2">
    
    <div class="nav20L2__container">
        <h1 class="nav20L2__name">{{name}}</h1>
        <div class="nav20L2__items__container">{{nav}}</div>
        <div class="btn__container">
            <a href="" class="btn btn1">{{btn1}}</a>
            
            <a style="  --_border:var(--clr-light);
            --_bg-clr:var(--clr-drk-blue-2);
            --_txt-clr:var(--clr-light);--_border-alt:var(--clr-light);
            --_bg-clr-alt:var(--clr-drk-blue-2-hover);
            --_txt-clr-alt:var(--clr-light);" href="" class="btn">{{btn2}}</a>
        </div>
    </div>
  

  </div>
  <hr>

