.card1__container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 0rem;
    
}
.card1{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

}

.card1__img__container{
    padding: 0;
    border-radius: 0.625rem;
    display: flex;
    
}
.card1__img{
    object-fit: cover;
}
.card1__desc__container{
    display: flex;
    flex-direction: column;
    gap: 2.44rem;

}
.card1__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.card1__h1{
    text-transform: uppercase;

}
.card1__price{
    color: var(--clr-grey-txt);

}

.card1__desc{
    font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;

}
.card1__container2 .card1{
    flex-direction: row-reverse;
}