<figure class="card1" style="--_bg-clr:var(--_bg-clr,var(--clr-light));
          --_btn-clr:var(--_btn-clr,var(--clr-dark));
          --_border:var(--_border,black);">
            <div class="card1__img__container">
              <img class="card1__img" src="{{url}}" alt="card image">
              </div>
              <figcaption class="card1__desc__container">
              <div class="card1__desc">
    
            <div class="card1__title ">
              <h2 class="card1__h1">{{h1}}</h2>
              <p class="card1__price">{{prix}}</p>
            </div>
            <p class="card1__text ">{{text}}</p>
          </div>
            <div class="btn__container">
              {{btn}}
          </div>
          </figcaption>
        </figure>
