.content14L1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.content14L1__desc{
    background-color: var(--clr-light);
    border-radius: 0.6rem;
    color: var(--txt-clr-grey);
    text-align: center;
    font-size: 1.38rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 6.25rem 19.69rem;
    padding: 3.12rem 5.5rem;
}

.content14L1__title{

font-size: 2.63rem;
font-weight: 700;
line-height: 3.25rem;
letter-spacing: -0.03rem;
color: var(--clr-drk-blue);
}