<div class="header18L2">
<!-- nav -->
  <div class="header18L2__nav">
    <h1>{{name}}</h1>
    <ul class="header18L2__navitem">
      {{items}}
    
    <div class="btn__container"><a href="" class="btn">{{btn}}</a></div></ul></div>
    <!-- header body -->
    <div class="header18L2__body">
       <!-- desc -->
    
    <div class="header18L2__desccontainer">
      <h1 class="header18L2__desctitle">{{title}}</h1>
      <p class="header18L2__desc">{{desc}}</p>
      <div class="btn__container">
        <a href="" class="btn">{{btn2}}</a>
      </div>
    </div>
      <!-- form -->
      <div class="header18L2__formcontainer">
        <h1 class="header18L2__formtitle">{{formtitle}}</h1>
        <input class="header18L2__email" type="email" placeholder="{{emailplaceholder}}" />
        <input class="header18L2__password" type="password" placeholder="{{passwdplaceholder}}" />
        <div class="header18L2__checkboxcontainer">
          <input class="header18L2__checkbox" type="checkbox" name="" id="" /></div>
          <p class="header18L2__checkboxdesc">{{checkboxdesc}}</p>
          <div class="btn__container"><a href="" class="btn ">{{btn3}}</a></div>
          <div class="header18L2__separation">
            <hr><p>or</p><hr>
          </div>

          <div class="btn__container btn4"><a href="" class="btn">{{btn4}}</a></div>
          <div class="header18L2__signin">
            <p>{{signin}}</p><a href="">{{signinlink}}</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

