.card4{
    /* local variables */
    --_bg-img:url("../../assets/Ecommerce/L1.30/imagecard2.jpg");
    --_txt-clr1:var(--_txt-clr1,var(--clr-light));
    --_txt-clr2:var(--_txt-clr2,var(--clr-grey-txt));
    --_align:var(--_align,left);
    /* layout */
    
    display: flex;
    flex-direction: column;
    align-items: var(--_align);
    gap: 2rem;
    padding: 3.12rem 6.25rem 3.75rem 3.12rem;
    
    /* box style */
    color: var(--_txt-clr1,var(--clr-light));
    background-image:var(--_bg-img);
    background-repeat: no-repeat;
    border-radius: 0.625rem;
    
}
.card4__title1 ,.card4__title2{
    text-align: var(--_align);

}


.card4__title1{
    color: var(--_txt-clr1);
}

.card4__title2{
    color: var(--_txt-clr2);
}

.card4__container{
    display: flex;
    flex-direction: row;
    padding:  6.25rem, 16.69rem, 6.25rem, 16.69rem;
    


}
.title2{
    color: var(--clr-grey-txt);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */



}

hr{
    padding: 0rem;
    
}
