.form07L1{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-light);
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.form07L1__title{
    color: var(--clr-drk-blue);
    text-align: center;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem; 
    letter-spacing: -0.06rem;
}
.form07L1__desc{
    color: var(--clr-grey-txt);
    text-align: center;

    font-size: 1.38rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; 
}
.form07L1__form{
    border-radius: 7rem solid var(--clr-grey-txt);
   
}
.form07L1__form__group{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
.form07L1__input {
   border: 2px solid var(--clr-grey-txt);
    border-radius: 6.25rem;
    padding: 0.5rem;
}
.form07L1__text{
    color: var(--clr-grey-txt);
}