<div class="form07L1">
  <h1 class="form07L1__title">{{title}}</h1>
  <p class="form07L1__desc">{{desc}}</p>
  <div class="form07L1__form__group">
    <form class="form07L1__form" action="">
      <input 
        type="text"
        id="name"
        class="form07L1__input"
        placeholder="{{formPlaceholder}}"
      /></form>
    
    <div class="btn__container"><a  style="--_bg-clr: var( --clr-pink);
      --_border: var(--clr-light);
      --_txt-clr: var(--clr-light);
      --_bg-clr-alt: var(--clr-pink-hover);
      --_border-alt: var(--clr-light);
      --_txt-clr-alt: var(--clr-light);
  " class="btn" href="">{{button}}</a></div>
  </div>
  <p class="form07L1__text">{{text}}</p>
</div>
